#testimonials {
  padding: 60px 0;
}
.testimonial-card .card {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}
.card .speech {
  border: 1px solid #07cc91;
  border-radius: 15px 15px 0 15px;
  padding: 30px;
}
.card .name {
  font-weight: 700;
  color: rgb(102, 100, 100);
}
.card .title {
  font-weight: 400;
  color: rgb(112, 110, 110);
}
