#test-area {
    padding-top: 150px;
    padding-bottom: 50px;
}

#hero {
    /* width: 100%;
    height: 100vh; */
    /* position: relative; */
    /* background: url(../../../Images/banner/banner-bg.png) center bottom no-repeat; */
    /* background-size: cover; */
    /* padding: 200px 0 0px 0; */
    /* top: 0px; */
    /* align-items: center; */
    /* padding-top: 100px; */
  
  }
  #test-hero {
    background: url(../../../Images/banner/banner-bg.png) center bottom no-repeat;
    background-size: cover;
    position: relative;
  }
  