.contactForm{
    
}
.contactForm input, textarea {
    display: block;
    width: 95%;
    margin-top: 20px;
    padding-left: 15px;
    border-radius: 0px; 
    border: 1px solid lightgray;
    margin-right: 0px;
}
.contactForm input {
    height: 50px;
}
.contactForm textarea {
    height: 200px
}
.submit-button {
    font-size: 20px;
    font-weight: 500;
    height: 30px;
    width: 60px;
    background: #07cc91;
    border: 0;
    border-radius: 3px;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
  }
  
 .submit-button:hover {
    background: #0299c4;
    border: none;
  }
 #send-btn {
     width: 150px;
     
 }
.error {
    color: red;
}


