#footer {
    background: #071e33;
    padding: 0 0 30px 0;
    font-size: 14px;
    color: #fff;
  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #ffffffad;
  }
  
  #footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ffffff85;
    margin-top: 8px;
  }
  
  #footer .credits a {
    color: #278bf2;
  }
  .owl-carousel .owl-item img {
      display: block;
      width: auto;
      height: 70px;
      margin: 0 auto;
  }